<template>
  <div id="home">
    <First-page :msg-left="msgLeft" />
    <Chart :chart-data="loraData" :interval="interval" @renewData="renewData" />
    <!-- <div @click="line" >Click me</div> -->
  </div>
</template>

<script>
import FirstPage from '@/components/FirstPage.vue';
import Chart from '@/components/Chart.vue';

export default {
  name: 'home',
  components: { FirstPage, Chart },
  data() {
    const format = 'YYYY-MM-DD HH:mm:ss';
    const startTime = this.$moment().startOf('days').format(format);
    const endTime = this.$moment().add(1, 'days').startOf('days').format(format);

    const macaddr = ['aa625a6c'];
    const date_filter = '&date_filter=' + startTime + '+-+' + endTime;
    const lora_url = [];
    macaddr.forEach(addr => {
      lora_url.push('https://campus.kits.tw/ICN_API?macaddr=' + addr + date_filter);
    });
    return {
      propject_name: 'XiaoGuaiGuai',
      loraData: [],
      startTime,
      endTime,
      macaddr,
      lora_url,
      interval: 'hours',
      format,
      msgLeft: 0
    };
  },
  computed: {
    arrLen() {
      return this.$moment(this.endTime).diff(this.$moment(this.startTime), this.interval);
    }
  },
  methods: {
    callApiMulti() {
      this.getLoraData(this.lora_url, 0);
      // setInterval(() => {
      //   this.getLoraData(this.lora_url, 0);
      // }, 10000); //毫秒
    },
    getLoraData(url, hash) {
      this.$axios.get(url).then(res => {
        const arr = [];
        for (let i = 0; i < this.arrLen; i++) arr.push(0);

        console.log('rrr', res.data);
        // if (res.data.length < 1) {
        //   for (let i = 0; i < this.arrLen; i++)
        //     res.data.push((i + 2) % 10)
        // }
        // res.data.forEach(data => {
        for (let i = 0; i < this.arrLen; i++) {
          // const num = this.$moment(data.created_at).diff(this.$moment(this.startTime).startOf(this.interval), this.interval);
          arr[i]+= (i*(hash+37)%51+2)%23;
        // });
        }
        this.loraData = arr;
      });
    },
    resetLoraData() {
      for (let i = 0; i < 24; i++) this.loraData.push(0);
    },
    resetUrl() {
      const date_filter = '&date_filter=' + this.startTime + '+-+' + this.endTime;
      for (var i = 0; i < 2; i++) {
        this.$set(this.lora_url, i, 'https://campus.kits.tw/ICN_API?macaddr=' + this.macaddr[i] + date_filter)
      }
    },
    renewData(tab, panel) {
      const today = this.$moment().day() - 1;
      const diff = (today - panel + 7) % 7;
      if (tab === 0) {
        // daily for weeks
        this.startTime = this.$moment().startOf('days').subtract(diff, 'days').format(this.format);
        this.endTime = this.$moment().startOf('days').subtract(diff - 1, 'days').format(this.format);
        console.log(diff);
      }
      this.resetUrl();
      this.getLoraData(this.lora_url, diff);
    },
    adjustFloatMsg() {
      const height = document.body.clientHeight / 2;
      const scroll = window.scrollY;
      this.msgLeft = scroll / height * 100;
      console.log('scroll', this.msgLeft);
    },

    line() {
      try {
        this.$axios.get('https://maker.ifttt.com/trigger/line/with/key/deB9reo-eBcMY3fwCdP9oh?value1=aaa').then(res => {
          console.log(res);
        });
      } catch (err) {
        console.log(err);
      };
    }
  },
  mounted() {
    this.resetLoraData();
    this.callApiMulti();
    window.onscroll = () => {
      this.adjustFloatMsg();
    }
  }
}
</script>

<style lang="scss" scoped>
#home {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100vw;
  background-color: #2d334a;
  // padding: 4rem 0;
}

@keyframes title-down {
  from {
    transform: translateY(-150px);
  } to {
    transform: translateY(0);
  }
}
</style>
