<template>
  <div class="chart-tab-container">
    <div class="bg"></div>
    <div class="chart-container">
      <Tab :selected-tab="currentTab" @toggleTab="toggleTab" />
      <div class="chart">
        <div
          v-for="(chart, idx) in displayChartData"
          :key="idx"
          class="chart-bar"
          :style="{ width: `${100 / chartData.length}%`, height: `${chart * 100}%`, backgroundColor: `rgba(255, 210, 113, ${0.3 + 0.7 *chart})`}"
          @mouseover="toggleTip(idx, true)"
          @mouseleave="toggleTip(idx, false)"
        >
          <div class="tip" :style="{ opacity: (isTipExit[idx]) ? 1 : 0 }">{{ chartData[idx] }}</div>
          <span v-if="idx % intervalSection === 0" class="interval">{{ intervalText(idx) }}</span>
        </div>
      </div>
      <left-panel :selected-tab="currentTab" :selected-panel="currentPanel" @togglePanel="togglePanel" />
    </div>
  </div>
</template>

<script>
import Tab from '@/components/Tab.vue';
import LeftPanel from '@/components/LeftPanel.vue';

export default {
  components: { Tab, LeftPanel },
  props: {
    chartData: {
      type: Array,
      required: true
    },
    interval: {
      type: String,
      required: true
    }
  },
  data() {
    const currentPanel = (this.$moment().day() + 6) % 7;
    console.log(currentPanel);
    return {
      displayChartData: [],
      isTipExit: [],
      intervalSection: 3,
      currentTab: 0,
      currentPanel
    }
  },
  computed: {
    barWidth() {
      return 1 / this.chartData.length;
    }
  },
  methods: {
    findMax(arr) {
      let max = 0;
      arr.forEach(element => {
        max = Math.max(max, element);
      });
      return max;
    },
    setChart() {
      const maxChart = this.findMax(this.chartData);
      const arr = [];
      this.isTipExit = [];
      if (maxChart === 0) {
        for (let i = 0; i < this.chartData.length; i++) {
          this.displayChartData[i] = 0;
        }
      } else {
          this.chartData.forEach(chart => {
          arr.push(chart / maxChart);
          this.isTipExit.push(false);
        });
        this.displayChartData = arr;

        if (this.interval === 'hours') {
          this.intervalSection = 3;
        }
      }
    },
    intervalText(idx) {
      if (this.interval === 'hours') {
        return `${idx}時`;
      }
    },
    toggleTip(id, isVisible) {
      this.$set(this.isTipExit, id, isVisible);
    },

    toggleTab(idx) {
      this.currentTab = idx;
      this.$emit('renewData', this.currentTab, this.currentPanel);
    },
    togglePanel(idx) {
      this.currentPanel = idx;
      this.$emit('renewData', this.currentTab, this.currentPanel);
    }
  },
  watch: {
    chartData() {
      console.log(this.chartData);
      this.setChart();
    }
  }
}
</script>

<style lang="scss" scoped>
.chart-tab-container {
  position: relative;
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  animation-name: bigger;
  animation-duration: 1s;
  .bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-image: url('../assets/graph_bg.jpg');
    background-size: cover;
    background-position: center;
    opacity: .5;
  }
}
.chart-container {
  position: relative;

  width: 70%;
  height: 50%;
  max-height: calc(100vh - 350px);
  background-color: transparent;
  border: 1px solid #f4efd3;
}
.chart {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-end;

  width: 100%;
  height: 100%;
  .chart-bar {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 0px;
    background-color: #f4efd3;
    transition: all 2s ease-out;
    // border: 1px solid #f4efd3;
    .tip {
      position: absolute;
      z-index: 10;
      top: -25px;
      width: 90%;
      font-size: .8rem;
      font-weight: 600;
      color: #ffffff;
      background-color: rgba(235, 130, 66, .5);
      // border: 1px solid #2d334a;
      opacity: .5;
      transition: all .5s ease-out;
    }
    .interval {
      position: absolute;
      font-size: .8rem;
      color: #f4efd3;
      bottom: -20px;
      // left: -50%;
      width: 30px;
    }
  }
}

@keyframes bigger {
  from {
    transform: scale(0);
  } to {
    transform: scale(1);
  }
}
</style>
